@import "../../helpers/theme/theme";

.customBtn {
  background-color: $accent-color;
  border: none;
  border-radius: 2.5px;
  padding: 10px;
  font-size: 12px;
  color: $secondary-color;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}

.disabledBtn {
  background-color: #dddddd;
  border: none;
  border-radius: 2.5px;
  padding: 10px;
  font-size: 12px;
  color: $secondary-color;
}
