@import "../../helpers/theme";
dialog {
  border: none;
  box-shadow: 5px 5px 8px #cacbcc;
  border-radius: 5px;
  .dialogContainer {
    width: 35vw;
    max-height: 85vh;
    padding-left: 10px;
    padding-right: 10px;
    .modalHeader {
      padding-left: 18px;
      padding-right: 18px;
      padding-top: 10px;
      padding-bottom: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        font-size: 25px;
        font-weight: 700;
        color: $font-color;
      }
      .closeBtn {
        color: $accent-color;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .divider {
      height: 2.5px;
      width: 100%;
      background-color: #e4e6e9;
    }
    .formContainer {
      form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 40px;
        label {
          color: $font-color;
          font-weight: 600;
        }
        input {
          margin-top: 20px;
          margin-bottom: 10px;
          border: 1px solid #e4e6e9;
          color: $font-color;
          background-color: $primary-color;
          border-radius: 5px;
          width: 75%;
          padding: 10px;
          &:focus {
            outline-color: $accent-color;
          }
        }
        select {
          margin-top: 20px;
          margin-bottom: 10px;
          border: 1px solid #e4e6e9;
          background-color: $primary-color;
          color: $font-color;
          border-radius: 5px;
          width: 80%;
          padding: 10px;
          &:focus {
            outline-color: $accent-color;
          }
          .disabledOpt {
            color: red;
          }
        }
        .submitBtn {
          padding-top: 40px;
          padding-bottom: 20px;
          align-self: center;
        }
      }
    }
  }
}
