@import "../../../../helpers/theme/theme";

.headerBar {
  height: 70px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $secondary-color;
  img {
    height: 40px;
    object-fit: cover;
  }
  .barIcons {
    display: flex;
    align-items: center;
    .icon {
      padding-left: 20px;
    }
    .iconNotification {
      display: flex;
      justify-content: center;
      align-items: center;
      .notificationCount {
        position: relative;
        top: -10px;
        left: -15px;
        width: 15px;
        height: 15px;
        border-radius: 100%;
        background-color: #80abf7;
        font-size: 12px;
        color: $secondary-color;
        user-select: none;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
